<nav class="navbar navbar-expand-lg navbar-white bg-dark sidebar">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav_tren">
        <div class="img" >
          <img id="img" [src]="'/images/img_admin.jpeg'" width="150" height="150">
        </div>
      </ul>
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/category-admin']">DANH MỤC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/brand-admin']">THƯƠNG HIỆU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/color-admin']">MÀU SẮC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/material-admin']">CHẤT LIỆU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/product-admin']">SẢN PHẨM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/payment-admin']">THANH TOÁN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/order-admin']">ĐƠN HÀNG</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/invoice-admin']">HÓA ĐƠN</a>
            </li> -->
           
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/newspaper-admin']">BÀI BÁO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/admin/user-admin']">KHÁCH HÀNG</a>
            </li>
            
        </ul>
    </div>
  </nav>
  
  