<div *ngIf="Message" id="a" class="alert alert-success" style="position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1050; width: 700px;">
    <button type="button" class="close" (click)="Message = null" aria-hidden="true">&times;</button>
    <strong>{{ Message }}</strong>
  </div>
<br>

<div *ngIf="fullName!=null && userID!=null; else nouser">
    <div class="alert alert-danger text-center">
        SẢN PHẨM ĐƯỢC YÊU THÍCH
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: flex; flex-wrap: wrap; justify-content: center;" *ngIf="products.length > 0; else noProducts1">
        <div class="box-product text-center" *ngFor="let product of products">
            <p class="product-disprice" *ngIf="product.disPrice < 0"></p>
            <p class="product-disprice" *ngIf="product.disPrice > 0">{{ product.disPrice }}%</p>

            <a [routerLink]="['/product', product.productID]" class="xem-chitiet">
                <div>
                    <img id="img-product" [src]="'http://localhost:8081/uploads/' + product.imageUrl">
                </div>
            </a>
            <hr>
            <h5 class="product-name">{{ product.name }}</h5>

            <!-- Hiển thị giá không giảm -->
            <div class="price-container" *ngIf="product.price > 0 && product.disPrice <= 0">
                <span class="discounted-price">{{ product.price | currency: 'VND':'':'' }} đ</span>
            </div>

            <!-- Hiển thị giá giảm -->
            <div class="price-container" *ngIf="product.disPrice > 0">
                <span class="original-price">{{ product.price | currency: 'VND':'':'' }} đ</span>
                <span class="discounted-price">{{ (product.price * (1 - product.disPrice / 100)) | currency: 'VND':'':'1.0-0' }}</span>
            </div>

            <button type="button" class="btn btn-warning" *ngIf="fullName && userID" (click)="addProductToCart(product.productID, (product.price * (1 - product.disPrice / 100)))">
                <i class="ri-shopping-cart-line"></i> Thêm vào giỏ
            </button>

            <div class="heart-container" *ngIf="fullName && userID">
                <!-- Button để yêu thích sản phẩm -->
                <button class="btn-favourite" (click)="toggleFavorite(product.productID)" *ngIf="product.isFavorited">
                    <i class="ri-heart-fill"></i>
                </button>
                <span class="heart-text">{{ product.isFavorited ? 'Đã thích' : 'Yêu thích' }}</span>
            </div>

        </div>




</div>
<ng-template #noProducts1>
    <div class="alert alert-primary text-center">
        <h4>BẠN CHƯA YÊU THÍCH SẢN PHẨM NÀO</h4>

    </div>
</ng-template>
</div>

<ng-template #nouser>
    <div class="alert alert-primary text-center">
        <h4>MỜI BẠN ĐĂNG NHẬP ĐỂ XEM SẢN PHẨM YÊU THÍCH</h4>
        <button class="btn btn-info" (click)="onclick()">ĐĂNG NHẬP NGAY</button>
    </div>
</ng-template>
