
<div class="bg-warning col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="display: flex; justify-content: center;">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="bg-warning jumbotron">
                    <h2>WATCH-LUXURY</h2>
                    <hr>
                    <p>Nơi bán đồng hồ uy tín và chất lượng</p>
                    <p><strong>Email:</strong>huydzaa12&#64;gmail.com</p>
                    <p><strong>Phone:</strong>+0965676576</p>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="bg-warning jumbotron">
                <div class="container">
                    <h3>GIỚI THIỆU</h3>
                    <hr>
                    <div class="form-group">
                        <h5><a href="#">FACEBOOK</a></h5>
                        <h5><a href="#">INSTAGRAM</a></h5>
                        <h5><a href="#">TIKTOK</a></h5>
                        <h5><a href="#">YOUTUBE</a></h5>
                       
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            
            <div class="bg-warning jumbotron">
                <div class="container">
                    <h3>THƯƠNG HIỆU</h3>
                    <hr>
                    <h5><a href="#">ROLEX</a></h5>
                    <h5><a href="#">CASIO</a></h5>
                    <h5><a href="#">APPLE</a></h5>
                    <h5><a href="#">HUBLOT</a></h5>
                    
                </div>
            </div>
            
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            
            <div class="bg-warning jumbotron">
                <div class="container">
                    <h3>LIÊN HỆ</h3>
                    <hr>
                    <div class="form-group">
                        <input type="email" class="form-control" required="required">
                        <button type="button" class="btn btn-info">Gửi</button>
                    </div>
                    <hr>
                    <h5>Theo dõi chúng tôi qua</h5>
                    <a href="#"><i class="ri-facebook-circle-line"></i></a>
                    <a href="#"><i class="ri-messenger-line"></i></a>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                </div>
            </div>
            
        </div>
       
    </div>
    
    
</div>






